* {
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 400;
    font-style: normal;
}
body {
    color: #ffff;
    background-color: #090f1e;
    max-width: 1300px;
    min-width: 320px;
    margin: auto;
    padding: 10px 10px 0px 10px;
    overflow-x: hidden;
}
body button {
    cursor: pointer;
}
.button-38 {
    background-color: #efeeee;
}

.button-38:hover {
    background-color: #ffffff;
}

body a {
    text-decoration: none;
}
.content h2 {
    font-weight: bold;
}
/* blocl header */

.header_line_top {
    /* margin: 10px 10px 0px 10px; */
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header_line_top h5 {
    font-weight: bold;
}
.left_section {
    width: 150px;
    border: 0px;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(242, 255, 0), orange);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #000000;
}
.left_section img {
    width: 20%;
    margin-right: 5px;
}
.left_section h5 {
    margin: 0px;
}
.right_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: end;
}
.right_section .bonus {
    width: 200px;
    height: 30px;
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    justify-content: space-around;
    background-color: #4e5d864d;
    border-radius: 20px;
    border: 0px;
    color: #ffff;
    margin: 0px 10px;
}
.bonus img {
    width: 60%;
}
.right_section .bonus .bonus_img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 0px;
    background: linear-gradient(to right, rgb(149, 0, 255), rgb(8, 0, 255));
    justify-content: center;
    align-items: center;
    display: flex;
}
.bonus_img2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 150px;
}
.bonus_img2 h5 {
    margin: 0px;
}
.bonus_img2 img {
    width: 30px;
}
.line_top_app {
    margin: 0px 10px;
}
#btn_android_download {
    border-radius: 20px;
    border: 0px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 200px;
    height: 30px;
    background-color: #4e5d864d;
    color: #ffff;
    text-align: left;
    font-size: 12px;
}
#btn_windows_download {
    border-radius: 20px;
    border: 0px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 200px;
    height: 30px;
    background-color: #4e5d864d;
    color: #ffff;
    text-align: left;
    font-size: 12px;
}
.lang_menu li {
    list-style: none;
}
.lang_menu select {
    background: linear-gradient(to right, rgb(149, 0, 255), rgb(8, 0, 255));
    width: 60px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    height: 30px;
    border: none;
}
.lang_menu option {
    background: linear-gradient(to right, rgb(149, 0, 255), rgb(8, 0, 255));
    background-color: blueviolet;
    color: #000000;
}
/* block main manu */

/* block burger */
/* .burger {
    display: none;
} */
.open_menu {
    overflow: hidden;
}
.menu__btn_bg span {
    top: 10px;
}
.btn_reg_burger {
    display: none;
}
.hamburger-menu {
    justify-content: flex-start;
    display: none;
    width: 100%;
    z-index: 100;
}
#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked + .menu__btn_bg > span {
    transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn_bg > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn_bg > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
}
.menu__btn_bg {
    position: absolute;
    /* position: fixed; */
    /* top: 20px;
    left: 20px; */
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn_bg > span,
.menu__btn_bg > span::before,
.menu__btn_bg > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: 0.25s;
}
.menu__btn_bg > span::before {
    content: "";
    top: -8px;
}
.menu__btn_bg > span::after {
    content: "";
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 350px;
    height: 100%;
    margin: 0;
    padding: 205px 0;
    list-style: none;
    background-color: #090f1e;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
    color: #ffffff;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
}
.menu__item:hover {
    background-color: #1e263d;
}
.menu__box a {
    color: #ffffff;
}

/* .burger select {
    width: 200px;
    height: 30px;
    border-radius: 20px;
    border: 0px;
    background: linear-gradient(to right, rgb(149, 0, 255), rgb(8, 0, 255));
    background-color: blueviolet;
    color: #ffffff;
    border: none;
}  */
.popular_game_burger {
    justify-content: space-around;
    display: flex;
}
.popular_game_burger img {
    width: 50px;
}
/* END block burger */
.header_line_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1e263d;
    border-radius: 20px;
    align-items: center;
    margin: 20px 0px;
    padding: 0px 20px;
}
.logo {
    z-index: 200;
    width: 150px;
    text-align: center;
}
.logo img {
    width: 100px;
}
.main_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    /* background-color: #1e263d; */
    border-radius: 20px;
    align-items: center;
}
.menu_btn {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
}
.menu_btn button {
    background-color: #ffffff00;
    border: 0px;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
}
.menu_btn a {
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
}
.menu_btn img {
    width: 100%;
}
.btn_reg {
    width: 300px;
    justify-content: space-around;
    display: flex;
}
.more_menu {
    width: 20%;
}
.more_menu select {
    width: 60px;
    border-radius: 20px;
    height: 30px;
    text-align: center;
    background-color: #8000ff;
    color: #ffffff;
    font-weight: bold;
    border: none;
}
.btn_input {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    color: #000000;
    background-color: #13ff00;
    border: 0px;
    font-weight: bold;
}

.button-62 {
    width: 100px;
    height: 35px;
    border-radius: 20px;
    background: linear-gradient(to bottom right, #d4ff00, #00ff37);
    border: 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    text-transform: uppercase;
}

.button-62:not([disabled]):focus {
    box-shadow:
        0 0 0.25rem rgba(0, 0, 0, 0.5),
        -0.125rem -0.125rem 1rem rgba(77, 239, 71, 0.5),
        0.125rem 0.125rem 1rem rgba(195, 255, 90, 0.5);
}

.button-62:not([disabled]):hover {
    box-shadow:
        0 0 0.25rem rgba(0, 0, 0, 0.5),
        -0.125rem -0.125rem 1rem rgba(71, 239, 116, 0.5),
        0.125rem 0.125rem 1rem rgba(217, 255, 90, 0.5);
}

.button-87 {
    width: 150px;
    height: 35px;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 20px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #ff2a00 0%, #f07d19 51%, #ff512f 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-87:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.button-87:active {
    transform: scale(0.95);
}

.btn_registrate {
    width: 150px;
    height: 30px;
    border-radius: 20px;
    color: #000000;
    background-color: #ff0000;
    border: 0px;
    font-weight: bold;
}
/* block my slider */
.promotion {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.myslider {
    max-height: 265px;
    margin: 0px;
    width: 60%;
}
.myslider img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 20px;
    object-fit: cover;
}
.myslider_wrapper {
    position: relative;
}
.myslider_text {
    position: absolute;
    top: 0px;
}
.myslider_text h5 {
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.myslider_text button {
    width: 180px;
    height: 50px;
    border-radius: 20px;
    border: 0px;
    margin: 20px 0px 0px 20px;
    font-weight: bold;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
.slick-slide {
    height: 300px;
    /* height: 90%; */
}
.background_promotion {
    display: block;
    position: absolute;
    text-align: center;
}
.background_promotion img {
    width: 100%;
}
.promotion {
    height: 350px;
    /* margin: 0px 10px; */
}
.slick-dots {
    display: none;
    /* bottom: -80px; */
}
.banner {
    display: flex;
    flex-direction: row;
    width: 40%;
}
.banner .b_cashback {
    background-image: url(../images/cashback.png);
    width: 50%;
    height: 86%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 0px 5px 0px 10px;
    object-fit: cover;
}
.b_cashback_text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}
.banner .b_bonus {
    background-image: url(../images/bonus.png);
    width: 50%;
    height: 86%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 0px 0px 0px 5px;
    object-fit: cover;
}
.b_bonus_text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}
.banner h5 {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.banner button {
    width: 180px;
    height: 50px;
    border-radius: 20px;
    border: 0px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

/* block welcom */
.welcom {
    background-image: url("../images/welcom_img.webp");
    height: 800px;
    position: absolute;
    width: 100%;
    margin: auto;
    top: auto;
    left: 0px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-width: 350px;
}
.welcom_content {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 120px;
    position: static;
    flex-direction: column;
    align-items: center;
}
.welcom_content h1 {
    font-weight: bold;
    margin-bottom: 0px;
}
.welcom_color {
    color: #33a2f6;
    font-weight: bold;
}
#welcom_btn {
    width: 200px;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
.welcom_content p {
    margin: 0px;
    font-size: 22px;
}

/* about block */
.about {
    margin-top: 800px;
}
.about_content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.about_img img {
    width: 50%;
}
.about_img {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    min-width: 200px;
}
.about_img h5 {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bold;
}
.about_img p {
    margin-top: 0px;
    width: 200px;
    text-align: center;
}
.about_registrate {
    top: 50px;
    position: relative;
}
.about_registrate h2 {
    margin: 0px;
}
.about_reg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.about_reg_content {
    width: 45%;
}
.about_reg_list {
    width: 45%;
}
.about_reg_list li {
    color: #33a2f6;
}

/* promotion bonus center */
.promotion_center {
    margin: 80px 0px;
    display: flex;
    justify-content: space-around;
}
.promotion_center button {
    border: 0px;
    border-radius: 20px;
    width: 150px;
    height: 35px;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 12px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
.bb1_content button {
    position: relative;
    z-index: 3;
    /* cursor: pointer; */
}
.bb2_content a {
    position: relative;
    z-index: 3;
    /* cursor: pointer; */
}

.banner_bonus h3 {
    width: 270px;
    font-weight: bold;
    font-size: 24px;
    margin-left: 20px;
    line-height: 30px;
}
#bb1 {
    background-image: linear-gradient(45deg, #09934b 0%, #56c052 51%, #00d400 100%);
    width: 600px;
    height: 250px;
    border-radius: 10px;
}
.banner_bonus {
    position: relative;
    box-shadow: 3px 3px 18px rgb(0 0 0);
}
.bb1_img {
    position: absolute;
}
.bb1_img img {
    width: 299px;
    margin-left: 301px;
    margin-top: 0px;
    border-radius: 10px;
}
#bb1 span {
    margin-left: 20px;
    font-size: 12px;
    font-weight: bold;
}
#bb2 {
    background-image: linear-gradient(45deg, #ff705f 0%, #ff735e 51%, #ff9b58 100%);
    width: 600px;
    height: 250px;
    border-radius: 10px;
}
.bb2_content div {
    margin-top: 80px;
}
.bb2_content button {
    cursor: pointer;
}
.bb2_img {
    position: absolute;
}
.bb2_img img {
    width: 407px;
    margin-left: 236px;
    margin-top: -6px;
    border-radius: 10px;
}

/* timer block */
.timer {
    display: grid;
    grid-template-columns: 3.5rem 0.5rem 3.5rem 0.5rem 3.5rem 0.5rem 3.5rem;
    font-size: 2rem;
    justify-items: center;
    margin-left: 20px;
}

.timer__item {
    position: relative;
    background-color: #ffffff4a;
    padding: 4px;
    border-radius: 10px;
}

.timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    bottom: -0.75rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.875rem;
    color: #424242;
}
/* block promotion app */
.bb2_content #btn_android_download {
    border: 0px;
    border-radius: 20px;
    width: 150px;
    height: 35px;
    margin-top: 10px;
    margin-left: 20px;
    background-color: #efeeee;
    font-weight: bold;
    font-size: 12px;
    color: #000000;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
.bb2_content #btn_windows_download {
    border: 0px;
    border-radius: 20px;
    width: 150px;
    height: 35px;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 12px;
    color: #000000;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    background-color: #efeeee;
}
.bb2_content #btn_windows_download:hover {
    background-color: #ffffff;
}
.bb2_content #btn_android_download:hover {
    background-color: #ffffff;
}
#btn_windows_download span {
    font-weight: bold;
    text-align: center;
}
#btn_android_download span {
    font-weight: bold;
    text-align: center;
}
/* info content block */
.info_content a {
    display: flex;
    justify-content: center;
    width: 200px;
}
.info_btn {
    width: 100%;
    justify-content: center;
    display: flex;
    margin: 20px 0px;
}
#info_btn {
    width: 230px;
    height: 50px;
    border-radius: 30px;
    margin: 0px;
}
.info_content_casino {
    margin-top: 50px;
}
.info_promotion {
    background: linear-gradient(
        -45deg,
        #ee7752,
        /* Первый цвет */ #e73c7e,
        /* Второй цвет */ #23a6d5,
        /* Третий цвет */ #23d5ab /* Четвертый цвет */
    );
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    height: 100vh;
    /* background-image: linear-gradient(45deg, #0098de 0%, #0032c7 51%, #2e00c6 100%); */
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    position: absolute;
    margin: 20px auto;
    top: auto;
    left: 0px;
    min-width: 350px;
}
.info_promo_img img {
    width: 246px;
}
.info_promotion_text h3 {
    font-size: 30px;
    font-weight: bold;
}
.info_promotion_text button {
    border: 0px;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    font-weight: bold;
}
.info_content_table {
    margin-top: 330px;
}
.content_table {
    margin-top: 30px;
}
.content_table h3 {
    font-weight: bold;
    color: #4dff4d;
}
.table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
}
.table thead th {
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #afe7af;
    border-top: 2px solid #716561;
    border-bottom: 2px solid #716561;
}
.table tbody td {
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #afe7af;
    border-top: 1px solid #716561;
}

/* block game */
.game_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
.game_btn button {
    width: 200px;
    height: 35px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    margin: 20px;
}
.index_game {
    margin: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.game {
    width: 230px;
    height: 150px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 20px;
}
.game h5 {
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
}
.game_hover {
    position: absolute;
    background-color: #0000008d;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    opacity: 0%;
    transition: var(--anim);
}
.game_hover:hover {
    opacity: 100%;
    transition: var(--anim);
    -webkit-transition: var(--anim);
    -o-transition: var(--anim);
    -moz-transition: var(--anim);
}
.game img {
    width: 100%;
    height: 150px;
    border-radius: 20px;
}
.btn_demo {
    background-color: #ffffff00;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 20px;
    width: 80px;
}
.btn_demo:hover {
    background-color: #ffffff64;
    color: #000000;
}
.btn_play {
    width: 150px;
    height: 35px;
    border-radius: 20px;
    background: #00ff1e;
    border: 1px solid #00ff1e;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.btn_play:hover,
.btn_play:active {
    background-color: initial;
    background-position: 0 0;
    color: #00ff1e;
}

.btn_play:active {
    opacity: 0.5;
}

/* footer block */
footer {
    /* background-color: #1e263d; */
    width: 100%;
    height: auto;
    margin-top: 40px;
    font-size: 12px;
    color: #cedaff;
}
footer img {
    width: 100px;
}
footer h5 {
    font-size: 16px;
    font-weight: bold;
}
hr {
    border: 0;
    height: 2px;
    background-color: #1e263d;
}
.footer_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
.footer_help table {
    width: 300px;
}
.social {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.social img {
    width: 35px;
    margin: 0px 5px;
}
.footer_info {
    display: flex;
    flex-direction: column;
}
.footer_info a {
    font-size: 18px;
    color: #cedaff;
    margin: 5px 0px;
}
.footer_menu {
    display: flex;
    flex-direction: column;
}
.footer_menu a {
    font-size: 18px;
    color: #cedaff;
    margin: 5px 0px;
    width: 100px;
}
.footer_menu_wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 200px;
}
.line_down {
    margin-top: 50px;
}
.footer_app_block {
    display: flex;
    flex-direction: row;
}
.mobile {
    display: flex;
    flex-direction: column;
}
.mobile_block {
    width: 180px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #cedaff;
    margin: 5px;
}
.PK {
    width: 100px;
    height: 120px;
    border-radius: 20px;
    border: 1px solid #cedaff;
    margin-left: 5px;
}
.language{
    display: flex;
    justify-content: end;
    margin-top: 5px;
}
#footer_lang select {
    background: #cedaff;
    border: none;
    color: #090f1e;
    border-radius: 10px;

}
#footer_lang option{
    background: #cedaff;
    color: #090f1e;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 1350px) {
    .promotion_center {
        flex-direction: column;
        align-items: center;
    }
    .banner_bonus {
        margin: 10px 0px;
        /* padding: 0px 200px; */
    }
    .bb1_img,
    .bb2_img {
        right: 0px;
    }
    #bb1,
    #bb2 {
        width: 80%;
    }
}

@media (max-width: 1100px) {
    .promotion {
        flex-direction: column;
        height: 100%;
        z-index: 10;
        position: relative;
    }
    .myslider {
        width: 100%;
        max-height: 100%;
    }
    .banner {
        width: 100%;
        margin-top: 10px;
    }
    .banner h5 {
        margin: 0px;
    }
    .banner .b_cashback {
        margin: 0px 5px 0px 0px;
    }
    .b_cashback {
        padding: 20px 0px;
        background-position: center;
    }
    .b_bonus {
        padding: 20px 0px;
        background-position: center;
    }
    .welcom {
        background-size: 100%;
    }
    .welcom_content {
        margin-top: 0px;
    }
    .about {
        margin-top: 700px;
    }
}

@media (max-width: 1000px) {
    #btn_windows_download {
        display: none;
    }
}
@media (max-width: 900px) {
    .menu_btn a {
        display: none;
    }
    .about {
        margin-top: 500px;
    }
}
@media (max-width: 840px) {
    .about_img {
        min-width: 270px;
    }
}
@media (max-width: 800px) {
    .welcom_content {
        font-size: 20px;
    }
    .about {
        margin-top: 450px;
    }
    .bb1_img {
        right: 0;
    }
}
@media (max-width: 750px) {
    .menu_btn {
        display: none;
    }
    .more_menu {
        display: none;
    }
    .hamburger-menu {
        display: flex;
    }
    .banner_bonus {
        padding: 0px;
    }
    #bb1,
    #bb2 {
        width: 100%;
    }
    .bb1_img,
    .bb2_img {
        display: flex;
        justify-content: end;
        width: 100%;
    }
    .bb1_content,
    .bb2_content {
        position: absolute;
        top: 0px;
    }
}
@media (max-width: 670px) {
    .header_line_top {
        flex-direction: column;
    }
    .header_line_top_a {
        width: 100%;
        justify-content: center;
        display: flex;
    }
    .right_section {
        width: 75%;
        justify-content: space-around;
        margin-top: 10px;
    }
    .right_section {
        width: 100%;
    }
    .about {
        margin-top: 400px;
    }
}
@media (max-width: 600px) {
    .banner {
        flex-direction: column;
    }
    .banner .b_cashback {
        width: 100%;
    }
    .banner .b_bonus {
        width: 100%;
        margin: 10px 5px 0px 0px;
    }
    .myslider_text h5 {
        font-size: 20px;
    }
    .banner h5 {
        font-size: 18px;
    }
    .right_section_a {
        display: none;
    }
    .right_section {
        justify-content: center;
    }
    .btn_reg {
        display: none;
    }
    .btn_reg_burger {
        display: block;
        margin-top: 20px;
        justify-content: space-around;
        display: flex;
    }
    .welcom_content {
        font-size: 14px;
    }
    .welcom_content p {
        font-size: 12px;
    }
    .about {
        margin-top: 350px;
    }
    .about_img {
        min-width: 200px;
    }
    .about_reg {
        flex-direction: column;
    }
    .about_reg_content {
        width: 100%;
    }
    .about_reg_list {
        width: 100%;
    }

    .banner_bonus {
        position: relative;
        min-height: 300px;
    }
    .bb1_img,
    .bb2_img {
        position: absolute;
        bottom: 0px;
    }
    .bb1_img img {
        width: 65%;
        max-height: 190px;
    }
    .bb2_img img {
        width: 65%;
        max-height: 190px;
    }
    .bb1_content,
    .bb2_content {
        position: absolute;
        width: 100%;
    }
    .info_promotion {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        height: 489px;
    }
}
@media (max-width: 500px) {
    .about {
        margin-top: 300px;
    }
}
@media (max-width: 440px) {
    .menu__box {
        width: 100%;
    }
    #welcom_btn {
        margin-top: 15px;
        width: 180px;
        height: 35px;
        font-size: 14px;
    }
    .welcom_content h1 {
        font-size: 20px;
    }
    .about {
        margin-top: 250px;
    }
}
@media (max-width: 350px) {
    .right_section {
        justify-content: space-around;
        flex-direction: column;
        height: 80px;
    }
    .about {
        margin-top: 200px;
    }
    .bb1_img img {
        position: absolute;
        top: -174px;
    }
    .bb2_img img {
        position: absolute;
        top: -125px;
    }
}

@media (min-width: 1000px) {
    #btn_android_download {
        display: none;
    }
}
