* {
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 400;
    font-style: normal;
}
body {
    color: #ffff;
    background-color: #090f1e;
    max-width: 1300px;
    min-width: 320px;
    margin: auto;
    padding: 10px;
    overflow-x: hidden;
}
body button {
    cursor: pointer;
}
body a {
    text-decoration: none;
}

/* blocl header */

.header_line_top {
    /* margin: 10px 10px 0px 10px; */
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header_line_top h5 {
    font-weight: bold;
}
.left_section {
    width: 150px;
    border: 0px;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(242, 255, 0), orange);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #000000;
}
.left_section img {
    width: 20%;
    margin-right: 5px;
}
.left_section h5 {
    margin: 0px;
}
.right_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: end;
}
.right_section .bonus {
    width: 200px;
    height: 30px;
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    justify-content: space-around;
    background-color: #4e5d864d;
    border-radius: 20px;
    border: 0px;
    color: #ffff;
    margin: 0px 10px;
}
.bonus img {
    width: 60%;
}
.right_section .bonus .bonus_img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 0px;
    background: linear-gradient(to right, rgb(149, 0, 255), rgb(8, 0, 255));
    justify-content: center;
    align-items: center;
    display: flex;
}
.bonus_img2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 150px;
}
.bonus_img2 h5 {
    margin: 0px;
}
.bonus_img2 img {
    width: 30px;
}
.line_top_app {
    margin: 0px 10px;
}
#btn_android_download {
    border-radius: 20px;
    border: 0px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 200px;
    height: 30px;
    background-color: #4e5d864d;
    color: #ffff;
    text-align: left;
    font-size: 12px;
}
#btn_windows_download {
    border-radius: 20px;
    border: 0px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 200px;
    height: 30px;
    background-color: #4e5d864d;
    color: #ffff;
    text-align: left;
    font-size: 12px;
}
.lang_menu li {
    list-style: none;
}
.lang_menu select {
    background: linear-gradient(to right, rgb(149, 0, 255), rgb(8, 0, 255));
    width: 60px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    height: 30px;
    border: none;
}
.lang_menu option {
    background: linear-gradient(to right, rgb(149, 0, 255), rgb(8, 0, 255));
    background-color: blueviolet;
    color: #000000;
}
/* block main manu */

/* block burger */
/* .burger {
    display: none;
} */
.open_menu {
    overflow: hidden;
}
.menu__btn_bg span {
    top: 10px;
}
.btn_reg_burger {
    display: none;
}
.hamburger-menu {
    justify-content: flex-start;
    display: none;
    width: 100%;
    z-index: 10;
}
#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked + .menu__btn_bg > span {
    transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn_bg > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn_bg > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
}
.menu__btn_bg {
    position: absolute;
    /* position: fixed; */
    /* top: 20px;
    left: 20px; */
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn_bg > span,
.menu__btn_bg > span::before,
.menu__btn_bg > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: 0.25s;
}
.menu__btn_bg > span::before {
    content: "";
    top: -8px;
}
.menu__btn_bg > span::after {
    content: "";
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 350px;
    height: 100%;
    margin: 0;
    padding: 205px 0;
    list-style: none;
    background-color: #090f1e;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
    color: #ffffff;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
}
.menu__item:hover {
    background-color: #1e263d;
}
.menu__box a {
    color: #ffffff;
}

/* .burger select {
    width: 200px;
    height: 30px;
    border-radius: 20px;
    border: 0px;
    background: linear-gradient(to right, rgb(149, 0, 255), rgb(8, 0, 255));
    background-color: blueviolet;
    color: #ffffff;
    border: none;
}  */
.popular_game_burger {
    justify-content: space-around;
    display: flex;
}
.popular_game_burger img {
    width: 50px;
}
/* END block burger */
.header_line_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1e263d;
    border-radius: 20px;
    align-items: center;
    margin: 20px 0px;
    padding: 0px 20px;
}
.logo {
    z-index: 12;
    width: 150px;
    text-align: center;
}
.logo img {
    width: 100px;
}
.main_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    /* background-color: #1e263d; */
    border-radius: 20px;
    align-items: center;
}
.menu_btn {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
}
.menu_btn button {
    background-color: #ffffff00;
    border: 0px;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
}
.menu_btn a {
    display: flex;
    width: 50px;
}
.menu_btn img {
    width: 100%;
}
.btn_reg {
    width: 300px;
    justify-content: space-around;
    display: flex;
}
.more_menu {
    width: 20%;
}
.more_menu select {
    width: 60px;
    border-radius: 20px;
    height: 30px;
    text-align: center;
    background-color: #8000ff;
    color: #ffffff;
    font-weight: bold;
    border: none;
}
.btn_input {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    color: #000000;
    background-color: #13ff00;
    border: 0px;
    font-weight: bold;
}



.button-62 {
    width: 100px;
    height: 35px;
    border-radius: 20px;
    background: linear-gradient(to bottom right, #d4ff00, #00ff37);
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    text-transform: uppercase;
  }
  
  .button-62:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(77, 239, 71, 0.5), .125rem .125rem 1rem rgba(195, 255, 90, 0.5);
  }
  
  .button-62:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(71, 239, 116, 0.5), .125rem .125rem 1rem rgba(217, 255, 90, 0.5);
  }

  .button-87 {
    width: 150px;
    height: 35px;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 20px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #ff2a00 0%, #f07d19  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-87:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  
  .button-87:active {
    transform: scale(0.95);
  }


.btn_registrate {
    width: 150px;
    height: 30px;
    border-radius: 20px;
    color: #000000;
    background-color: #ff0000;
    border: 0px;
    font-weight: bold;
}
/* block my slider */
.promotion {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.myslider {
    max-height: 265px;
    margin: 0px;
    width: 60%;
}
.myslider img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 20px;
    object-fit: cover;
}
.myslider_wrapper {
    position: relative;
}
.myslider_text {
    position: absolute;
    top: 0px;
}
.myslider_text h5 {
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.myslider_text button {
    width: 180px;
    height: 50px;
    border-radius: 20px;
    border: 0px;
    margin: 20px 0px 0px 20px;
    font-weight: bold;
}
.slick-slide {
    height: 300px;
    /* height: 90%; */
}
.background_promotion {
    display: block;
    position: absolute;
    text-align: center;
}
.background_promotion img {
    width: 100%;
}
.promotion {
    height: 350px;
    /* margin: 0px 10px; */
}
.slick-dots {
    display: none;
    /* bottom: -80px; */
}
.banner {
    display: flex;
    flex-direction: row;
    width: 40%;
}
.banner .b_cashback {
    background-image: url(../images/cashback.png);
    width: 50%;
    height: 86%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 0px 5px 0px 10px;
    object-fit: cover;
}
.b_cashback_text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}
.banner .b_bonus {
    background-image: url(../images/bonus.png);
    width: 50%;
    height: 86%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 0px 0px 0px 5px;
    object-fit: cover;
}
.b_bonus_text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}
.banner h5 {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.banner button {
    width: 180px;
    height: 50px;
    border-radius: 20px;
    border: 0px;
    background: #fff;
    /* margin: 85px 0px 0px 20px; */
    font-weight: bold;
}

/* block welcom */
.welcom{
    
}









@media (max-width: 1100px) {
    .promotion {
        flex-direction: column;
        height: 100%;
    }
    .myslider {
        width: 100%;
        max-height: 100%;
    }
    .banner {
        width: 100%;
        margin-top: 10px;
    }
    .banner h5 {
        margin: 0px;
    }
    .banner .b_cashback {
        margin: 0px 5px 0px 0px;
    }
    .b_cashback {
        padding: 20px 0px;
        background-position: center;
    }
    .b_bonus {
        padding: 20px 0px;
        background-position: center;
    }
}

@media (max-width: 1000px) {
    #btn_windows_download {
        display: none;
    }
}
@media (max-width: 900px) {
    .menu_btn a {
        display: none;
    }
}
@media (max-width: 750px) {
    .menu_btn {
        display: none;
    }
    .more_menu {
        display: none;
    }
    .hamburger-menu {
        display: flex;
    }
}
@media (max-width: 670px) {
    .header_line_top {
        flex-direction: column;
    }
    .header_line_top_a {
        width: 100%;
        justify-content: center;
        display: flex;
    }
    .right_section {
        width: 75%;
        justify-content: space-around;
        margin-top: 10px;
    }
    .right_section {
        width: 100%;
    }
}
@media (max-width: 600px) {
    .banner {
        flex-direction: column;
    }
    .banner .b_cashback {
        width: 100%;
    }
    .banner .b_bonus {
        width: 100%;
        margin: 10px 5px 0px 0px;
    }
    .myslider_text h5 {
        font-size: 20px;
    }
    .banner h5 {
        font-size: 18px;
    }
    .right_section_a {
        display: none;
    }
    .right_section {
        justify-content: center;
    }
    .btn_reg {
        display: none;
    }
    .btn_reg_burger {
        display: block;
        margin-top: 20px;
        justify-content: space-around;
        display: flex;
    }
}
@media (max-width: 440px) {
    .menu__box {
        width: 100%;
    }
}
@media (max-width: 350px) {
    .right_section {
        justify-content: space-around;
        flex-direction: column;
        height: 80px;
    }
}


@media (min-width: 1000px) {
    #btn_android_download {
        display: none;
    }
}
